<!-- <script src="lib/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
-->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#stockList">仓库管理</a> <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#warehouseList">仓库列表</a> <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">增加库存</span>
    </li>
</ul>
<div class="row " ng-controller="addForm">
    <div class="col-md-12 ">
        <form role="form" name="myForm" ng-submit="save(myForm.$valid)" class="form-horizontal" novalidate>
            <div class="portlet light bordered ">
                <div class="portlet ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="blueFont font14 ">基本信息</span>
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    
                                    <label class="col-md-1 control-label">
                                        <span class="redFont">*</span> 仓库地址
                                    </label>
                                    <div class="col-md-2">
                                        <select class="form-control" name="province" required ng-model="obj.province" ng-options="o as o.provinceName for o in area" ng-change="getCities(obj.province)">
                                           
                                        </select>
                                        <div class="redFont padTop5" ng-show="myForm.province.$dirty&&myForm.province.$error.required">请填写省</div>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="city" required ng-model="obj.city" ng-options="o as o.cityName for o in cities" ng-change="getCountries(obj.city)">
                                           
                                        </select>
                                        <div class="redFont padTop5" ng-show="myForm.city.$dirty&&myForm.city.$error.required">请填写市</div>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="county" required ng-model="obj.country" ng-change="getSegments(obj.country)" ng-options="o as o.districtName for o in countries">
                                           
                                        </select>
                                        <div class="redFont padTop5" ng-show="myForm.county.$dirty&&myForm.county.$error.required">请填写县</div>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="county"  ng-model="obj.segment" ng-options="o.addressCode as o.addressName for o in segments">
                                            
                                        </select>
                                        
                                    </div>
                                    <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 详细地址
                                </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control " name="address" required ng-model="obj.address">
                                        <div class="redFont padTop5" ng-show="myForm.address.$dirty&&myForm.address.$error.required">请填写详细地址</div>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 仓库名称
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="name" required ng-model="obj.name">
                                        <div class="redFont padTop5" ng-show="myForm.name.$dirty&&myForm.name.$error.required">请填写仓库名称.</div>
                                    </div>
                                    <label class="col-md-1 control-label ">
                                    <span class="redFont">*</span> 联系人
                                </label>
                                    <div class="col-md-2">
                                        <input type="text" required class="form-control " name="contactor" ng-model="obj.contactor">
                                        <div class="redFont padTop5" ng-show="myForm.contactor.$dirty&&myForm.contactor.$error.required">请填写仓库联系人</div>
                                    </div>
                                    <label class="col-md-1 control-label alignCenter">
                                    <span class="redFont">*</span> 联系电话
                                </label>
                                    <div class="col-md-2">
                                        <input type="text" required class="form-control " name="contactorPhone" ng-model="obj.contactorPhone">
                                        <div class="redFont padTop5" ng-show="myForm.contactorPhone.$dirty&&myForm.contactorPhone.$error.required">请填写仓库联系电话</div>
                                    </div>
                                    <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 类型
                                    </label>
                                    <div class="col-md-2">
                                        <select class="form-control" ng-model="obj.type" name="type" required ng-options="type.value as type.name for type in typeOption"></select>
                                        <div class="redFont padTop5" ng-show="myForm.type.$dirty&&myForm.type.$error.required">请选择仓库类型</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 状态
                                </label>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                        <input type="radio" ng-model="obj.deleteFlag" name="optionsRadios" required value="0" checked> 激活</label>
                                        <label class="paddingLeft5 control-label">
                                        <input type="radio" ng-model="obj.deleteFlag" name="optionsRadios" required value="1" checked> 无效</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="blueFont font14 ">仓库属性</span>
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 仓库面积
                                </label>
                                    <div class="col-md-2">
                                    <input type="text" class="form-control input-sm input-inline wid50" name="area" required ng-model="obj.area"><span class="paddingLeft5">{{areaUnit}}</span>
                                        <div class="redFont padTop5" ng-show="myForm.area.$dirty&&myForm.area.$error.required">必填</div>
                                    </div>
                                    <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 层高
                                </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm input-inline wid50" name="floorHeight" required ng-model="obj.floorHeight"><span class="paddingLeft5">{{floorHeightUnit}}</span>
                                        <div class="redFont padTop5" ng-show="myForm.floorHeight.$dirty&&myForm.floorHeight.$error.required">必填</div>
                                    </div>
                                    <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 仓库容积
                                </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm input-inline wid50" name="capacity" required ng-model="obj.capacity"><span class="paddingLeft5">{{capacityUnit}}</span>
                                        <div class="redFont padTop5" ng-show="myForm.capacity.$dirty&&myForm.capacity.$error.required">必填</div>
                                    </div>
                                    <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 仓库承重力
                                </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm input-inline wid50" name="groundPress" required ng-model="obj.groundPress"><span class="paddingLeft5">{{groundPressUnit}}</span>
                                        <div class="redFont padTop5" ng-show="myForm.groundPress.$dirty&&myForm.groundPress.$error.required">必填</div>
                                    </div>
                                   

                                </div>
                                <div class="form-group">
                                     <label class="col-md-1 control-label">
                                    <span class="redFont">*</span> 库位数量
                                </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control wid50 input-inline input-sm" name="maxCardCount" required ng-model="obj.maxCardCount">
                                        <span class="paddingLeft5 lineHeight32">{{maxCardCountUnit}}</span>
                                        <div class="redFont padTop5" ng-show="myForm.maxCardCount.$dirty&&myForm.maxCardCount.$error.required">必填</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet ">
                    <div class="portlet-title ">
                        <div class="caption">
                            <span class="blueFont font14">库位列表</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-sm btn-orange" ng-click="addWarehouse()">
                            <i class="fa fa-plus"></i> 添加库位
                        </a>
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>库位号</th>
                                        <th>面积</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="obj in dataList">
                                        <td ng-bind="$index+1"></td>
                                        <td>
                                            <input class="wid100 input-inline" name="cardName{{$index}}" required ng-model="obj.cardName" />
                                            <span class="redFont padTop5" ng-show="myForm.cardName{{$index}}.$dirty&&myForm.cardName{{$index}}.$error.required">必填</span>
                                        </td>
                                        <td>
                                            <input class="wid100 input-inline" name="area{{$index}}" required ng-model="obj.area" />
                                            <span class="redFont padTop5" ng-show="myForm.area{{$index}}.$dirty&&myForm.area{{$index}}.$error.required">必填</span>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm green" ng-click="delete($index)">删除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row paddingTop20">
                            <div class="col-md-offset-6 col-md-2">
                                <input class="btn green-haze" type="submit" value="提交" />
                                <a class="btn grey-cascade" href="#/warehouseList">返回</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>