<ul class="page-breadcrumb breadcrumb">

    <li>
        <a href="#deliveryBatchList">单据管理</a> <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">收货通知管理</span>
    </li>
</ul>
<div class="row " ng-controller="acceptGoodsList" ng-init="init()">
    <div class="col-md-12 ">

        <div class="portlet light bordered ">
            <div class="portlet-title tabbable-line ">
                <ul class="nav nav-tabs fl">
                    <li ng-class="{'active':!queryStatus}">
                        <a href="javascript:;" ng-click="changeTab()">全部({{totalSum}})</a>
                    </li>
                    <li ng-class="{'active':queryStatus==CONTRACT_BATCH_STATUS.NOT_HANDLED}">
                        <a href="javascript:;" ng-click="changeTab(CONTRACT_BATCH_STATUS.NOT_HANDLED)">未处理({{unhandledSum}})</a>
                    </li>
                    <li ng-class="{'active':queryStatus==CONTRACT_BATCH_STATUS.HANDLING}">
                        <a href="javascript:;" ng-click="changeTab(CONTRACT_BATCH_STATUS.HANDLING)">处理中({{handlingSum}})</a>
                    </li>
                    <li ng-class="{'active':queryStatus==CONTRACT_BATCH_STATUS.HANDLED}">
                        <a href="javascript:;" ng-click="changeTab(CONTRACT_BATCH_STATUS.HANDLED)">已处理({{handledSum}})</a>
                    </li>
                </ul>
                <div class="actions">
                    <a class="btn btn-orange btn-sm" ui-sref="addAcceptGoods">
                        <i class="fa fa-plus"></i> 添加收货通知
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row marginBottom10 marginTop20">
                    <div class="col-md-4">
                        <h5 class="blueFont">收货通知列表</h5>
                    </div>
                    <div class="actions col-md-8">
                        <div class="controls-row form-horizontal">
                            <div class="control-group col col-md-5">

                                <label class="col-md-4 control-label">收货批次号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control " ng-model="queryParameters.batchNo">
                                </div>

                            </div>
                            <div class="control-group col col-md-5">

                                <label class="col-md-4 control-label">承运单位</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control " ng-model="queryParameters.wlCompanyName">
                                </div>


                            </div>
                            <div class="col-md-2">
                                <span class="input-group-btn">
                                        <button class="btn blue" type="button" ng-click="queryAcceptBatchList()">搜索</button>
                                    </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active ">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>收货批次号</th>
                                        <th>承运单位</th>
                                        <th>承运单位联系人</th>
                                        <th>承运单位联系电话</th>
                                        <th>创建时间</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="acceptBatch in acceptBatchList">
                                        <td ng-bind="$index+1"></td>
                                        <td>{{acceptBatch.batchNo}}</td>
                                        <td>{{acceptBatch.wlCompanyName}}</td>
                                        <td>{{acceptBatch.wlCompanyPerson}}</td>
                                        <td>{{acceptBatch.wlCompanyPhone}}</td>
                                        <td>{{acceptBatch.createdDateStr}}</td>
                                        <td><span ng-class="{'yellowFont':acceptBatch.status=={{CONTRACT_BATCH_STATUS.NOT_HANDLED}}||acceptBatch.status=={{CONTRACT_BATCH_STATUS.HANDLING}},'greenFont':acceptBatch.status=={{CONTRACT_BATCH_STATUS.HANDLED}}}">{{acceptBatch.status | contractBatchStatus}}</span></td>
                                        <td>
                                            <a href="#acceptGoodsDt/{{acceptBatch.batchNo}}" class="btn btn-sm green">查看详情</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="centerDiv">
                            <uib-pagination total-items="pagination.totalItems" items-per-page="pagination.pageSize" ng-change="pageChanged()" ng-model="pagination.currentPage"
                                max-size="pagination.maxSize" class="pagination-sm" boundary-link-numbers="true"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>