<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>智能仓储物流后台管理系统</title>
    <script type="text/javascript" src="/lib/mod.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/less/bootstrap.less">
    <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.css">
    <!-- <link rel="stylesheet" type="text/css" href="/bower_components/rdash-ui/dist/css/rdash.css">
    -->
    <!-- <link href="lib/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="lib/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="lib/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="lib/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="lib/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="lib/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="lib/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="lib/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="lib/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="lib/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/css/modify.css" rel="stylesheet" type="text/css" />
    <link href="/lib/css/fix0428.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body ng-app="exingcai_captain_web" class="login login-bg">
    <div class="login" ng-controller="LoginCtrl">
        <!-- BEGIN LOGO -->
        <div class="logo">
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <!--  <form class="login-form" name="loginForm" novalidate> -->
            <h5 class="form-title font-green">橙金物流后台管理系统</h5>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> 请输入用户名和密码。</span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">登录名</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="on" placeholder="登录名" name="loginName" required ng-model="person.loginName" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="on" placeholder="密码" name="loginPwd" required="required" ng-model="person.loginPwd" />
              
                <span class="errorInfo" ng-bind="loginResponse"></span>
            </div>
            <div class="form-group">
                                <label class="control-label">
                                        <input type="radio" ng-model="compType" name="optionsRadios" value="1" >物流</label>
                                    <label class="paddingLeft5 control-label">
                                        <input type="radio" ng-model="compType" name="optionsRadios" value="2" checked>仓库</label>
                                  
                                </div>
            <div class="form-actions">
                <button type="btn" class="btn green" ng-disabled="loginForm.$invalid" ng-click="login()">登录</button>
                <label class="rememberme check">
                    <input type="checkbox" name="remember" value="1" />记住我 </label>
                <a href="javascript:;" id="forget-password" class="forget-password">忘记密码?</a>
            </div>
            <div class="create-account">
                <p>
                    <a href="register.html">企业注册</a>
                </p>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <script src="lib/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <script src="lib/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="lib/assets/global/scripts/app.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="lib/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="lib/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="lib/assets/pages/scripts/login.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/lib/mod.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/bower_components/ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/modules/interceptor/captainInterceptor.js"></script>
    <script type="text/javascript">
    require('app');

    </script>
</body>

</html>
